*{
    color:#002002;
    font-family: 'Kaisei HarunoUmi', serif;
    font-weight: 500;
}

body{
    background-color:  #fdfdfd5e;
    color:#002002;
}

header{
    padding: 0;
    background-color: #b9f0bd;
    box-shadow: 0px 0px 9px 0px #0d7a1470;
    position: fixed;
    top:0;
    left: 0;
   width: 100%;
   
}

.header__header{
    display: flex;
    margin-bottom: 8px;
    align-items: center;
}

.header__div{
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: left;
}

.header__icone{
    width: 58px;
    padding: 2px;
    margin: 10px;
    opacity: 85%;
}

.header__span{
    margin-left: 12px;
    color: #0d4911
}

h1{
    font-size: 28px;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
    color: #0d4911;
    text-shadow: 4px 2px 3px #98da9d;
}

nav{
    align-items: center;
    display: flex; 
    flex: 1;
    margin-right: 10px;
    justify-content: right;
    max-width: 100%;
    width: 100%;
}
    

ul{
    justify-content: flex-end!important;
    display: flex;
    margin: 0; 
}

.nav__lista{

    text-align: right;
    justify-content: right;
    align-items: center;
    margin: auto;
    margin-left: 8px;
    font-family:'Mukta', sans-serif;
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
}

.nav__lista--inicio{
    padding: 5px;
    text-decoration: none;
    color: #063509;
    text-shadow: 1px 1px #8fc592d0;
}

.nav__lista--inicio:hover{
    color: #2b6d2b; 
}

.nav__lista--quemsomos{
    
    padding: 5px;
    text-decoration: none;
    color: #319b31;
    text-shadow: 1px 1px #8fc592d0;
}

.nav__lista--contatos{
    text-decoration: none;
    color: #ecfff0;
    font-size: 16px;
    background-color: #16581acb;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px; 
    padding-right: 5px; 
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
}



.seção__titulo--div{
    margin-top: 150px;
    width: 20%;
    padding: 5px;
    align-items: center;
    height: 60px;
    background-color: #b4ffb457;
    border-left: solid 25px #5de25ddc;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    
}

.seção__titulo{
    padding: 15px;
    margin-left: 10px;
    text-align: left;
    color:rgba(0, 0, 0, 0.87);
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 30px;
}


/* ----------------------discentes---------------- */
.seção__envolvidos{
    background-color: #abf1ab31;
    width: 85%;
    height: 700px;
    border-top: solid 10px #2b9e2b;
    margin-left: 25px;
    margin-top: 100px;
}

.seção__discentes{
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.seção__discentes--titulo{
    background-color: #76d376a2;
    box-shadow: inset 1px 42px #14c4144b;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-left: 20px;
    height: 40px;
    width: 180px;
    justify-content: center;
    color:#062e06;
    font-family: 'Montserrat', sans-serif;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}


.seção__discentes--divisao{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.discentes__foto--rafael{
    width: 210px;
    height: 250px;
    margin-bottom: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.discentes__foto--rafael:hover{
    transform: scale(1.02);
}

.discentes__foto--rebecka{
    width: 230px;
    height: 250px;
    margin-bottom: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.discentes__foto--rebecka:hover{
    transform: scale(1.02);
}

.discentes__foto--sophya{
    width: 230px;
    height: 250px;
    margin-bottom: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.discentes__foto--sophya:hover{
    transform: scale(1.02);
}

.discentes__nome{
    padding-top: 5px;
    padding-left: 0px;
    padding-bottom: 7px;
    font-weight: 600;
    font-family: 'Hina Mincho', serif;
    font-size:21px;
    text-align: center;
    justify-content: center;
    background-color: #63f063a2;
    width: 180px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}


.discentes__descrição{
    text-align: justify;
    padding-left: 15px;
    padding-top: 14px;
    padding-right: 8px;
    padding-bottom: 20px;
    width: 250px;
    font-family: 'Montserrat', sans-serif;
}

.contatos{
    display: flex;
    margin: auto;
    flex-direction: column;
    background-color: #59ff5936;
}

.contatos__email{
    justify-content: center;
    text-align: center;
    font-weight: 600;
    background-color: #3ec03ea2;
    padding: 10px;
    font-family:  'Quicksand', sans-serif;
}

.contatos__icones{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
}

.icone-github{
    width: 45px;
    padding: 0px 8px 0px;
}

.icone-github:hover{
    transform: scale(1.1);
}

.icone-instagram{
    width: 45px;
    padding: 0px 8px 0px;
    height: 38px;
}

.icone-instagram:hover{
    transform: scale(1.1);
}

.icone-linkedin{
    width: 45px;
    padding: 0px 8px 0px;
}

.icone-linkedin:hover{
    transform: scale(1.1);
}
.icone-curriculo{
    width: 45px;
    padding: 0px 8px 0px;
}

.icone-curriculo:hover{
    transform: scale(1.1);
}

.icone-instagram{
    width: 45px;
    height: 45px;
    padding: 0px 8px 0px;
}

.icone-instagram:hover{
    transform: scale(1.1);
}

.icone-facebook{
    width: 45px;
    padding: 0px 8px 0px;
}

.icone-facebook:hover{
    transform: scale(1.1);
}

/* -----------------------docentes---------------- */

.seção__docentes--titulo{
    background-color: #76d376a2;
    box-shadow: inset 1px 42px #14c4144b;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 30px;
    padding-top: 15px;
    height: 40px;
    width: 240px;
    text-align: center;
    justify-content: center;
    color:#062e06;
    font-family: 'Montserrat', sans-serif;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.seção__envolvidos--docentes{
    background-color: #abf1ab31;
    width: 85%;
    height: 700px;
    border-top: solid 10px #2b9e2b;
    margin-left: 25px;
    margin-top: 100px;
}

.seção__docentes{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.seção__docentes--delmir{
    padding: 5px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.seção__docentes--fabio{
    padding: 5px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foto__delmir{
    width: 300px;
    height: 300px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.foto__delmir:hover{
    transform: scale(1.02);
}

.foto__fabio{
    width: 300px;
    height: 290px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}

.foto__fabio:hover{
    transform: scale(1.02);
}

.nome__delmir{
    padding-top: 5px;
    padding-left: 0px;
    padding-bottom: 7px;
    font-weight: 600;
    font-family: 'Hina Mincho', serif;
    font-size:21px;
    text-align: center;
    background-color: #63f063a2;
    width: 200px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    justify-content: center;
}

.nome__fabio{
    padding-top: 5px;
    padding-left: 0px;
    padding-bottom: 7px;
    font-weight: 600;
    font-family: 'Hina Mincho', serif;
    font-size:21px;
    text-align: center;
    justify-content: center;
    background-color: #63f063a2;
    width: 210px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.descrição__delmir{
    text-align: justify;
    padding-left: 15px;
    padding-top: 14px;
    padding-right: 8px;
    padding-bottom: 20px;
    width: 300px;
    font-family: 'Montserrat', sans-serif;
}

.descrição__fabio{
    text-align: justify;
    padding-left: 15px;
    padding-top: 14px;
    padding-right: 8px;
    padding-bottom: 20px;
    width: 288px;
    font-family: 'Montserrat', sans-serif;
}

footer{
    display: flex;
    margin-top: 300px;
    background-color: #b9f0bd;
    justify-content: center;
    width: 100%;
    justify-content: space-between;
}

.footer__logo{
    width: 130px;
    height: 38px;
    padding: 7px;
    align-items: center;
    justify-content: left;
}

.footer__creditos{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 4px;
    padding-right: 4px;
    margin: 0;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color:#183118;
    font-weight: 600;
}

.footer__creditos--copyright{
    font-size: 12px;
    padding-top: 22px;
    padding-bottom: 20px;
    padding-right: 5px;
    justify-content: right;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color:#3c5e3e;
    font-weight: 500;
}