.body {
  width: 940 940;
  background-color: #ffa9d4;
}

.header div{
  background-color: rgb(207, 19, 107);
}

.logotb{
  margin: 15px 30px 15px 375px;
  width: 100px;
}

.menu{
  position: absolute;
  display: inline-block;
  margin: 55px 50px 50px 30px;
}

.item{
display:inline-block;
margin-left: 20px;
font-weight: bold;
font-size: 25px;
}

.link{
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px; 
}

.link:hover{
  color: rgb(245, 187, 227);
  text-decoration: underline;
}

.linkc{
  text-decoration: none;
  text-transform: uppercase;
  color: #111111;
  font-weight: bold;
  font-size: 20px; 
}

main{
  width: 940px;
  margin: 0px auto;
}

.input{
  display: block;
  width: 75%;
  margin-bottom: 15px;
  padding: 7px  0px;
}

.msg{
  display: block;
}

.msg.camp{
  display: block;
}

.enviar{
  margin-top: 15px;
  width: 75%;
  padding: 15px 0px;
  background-color: rgb(207, 19, 107); 
  color: black;
  font-weight: bold;
  font-size: 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 1s all;
  margin-bottom: 25px;
}

.enviar:hover{
  background-color: #cc57b8;
  color: #ffffff;
  transform: scale(1.05);
  border-radius: 7px;
}

.rodape {
  background-color: rgb(207, 19, 107);
  color: #ffffff;
  height: 30px;
  text-align: center;
  padding-top: 10px;
  bottom: 0px;
  position: fixed;
  width: 100%;
}
