.body {
  width: 940 940;
  background-color: rgb(252, 174, 101);
}

.header div{
background-color:rgb(196, 26, 26);
}

.logotb{
  margin: 15px 30px 15px 375px;
  width: 100px;
}

.menu{
  position: absolute;
  display: inline-block;
  margin: 55px 50px 50px 30px;
}

.item{
  display:inline-block;
  margin-left: 20px;
  font-weight: bold;
  font-size: 25px;
}

.link{
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px; 
}

.linkc{
  text-decoration: none;
  text-transform: uppercase;
  color: #111111;
  font-weight: bold;
  font-size: 20px; 
}

.link:hover{
  color: rgb(18, 148, 223);
  text-decoration: underline;
}

.apresentacao {
  margin: 180 50 60 50;
  text-align: center;
  font-size: 30;
  font-style: italic;
}

.rodape {
  background-color:rgb(196, 26, 26);
  color: #ffffff;
  height: 30px;
  text-align: center;
  padding-top: 10px;
  bottom: 0px;
  position: fixed;
  width: 100%;
}
